<footer>
    <section class="course-links">
        <h3 class="footer">Courses</h3>
        
        <div class="course-links1">
            <a href="#" class="links">Algebra</a> </br>
            <a href="#" class="links">Circumnavigation of the Earth</a> </br>
            <a href="#" class="links">Tenses</a> </br>
            <a href="#" class="links">Mofimu</a> </br>
            <a href="#" class="links">Blood Circulatory System</a> </br>
            <a href="#" class="links">Colonialism</a> </br> 
        </div>
        
        <div class= "course-links2">
            <a href="#" class="links">Algebra 1</a> </br>
            <a href="#" class="links">Programming in C</a> </br>
            <a href="#" class="links">Waves</a> </br>
            <a href="#" class="links">Sentensi</a> </br>
            <a href="#" class="links">Excretory System</a> </br>
            <a href="#" class="links">Pre-Colonial Societies</a> </br>
        </div>
        
        <div class= "course-links3">
            <a href="#" class="links">Algebra 2</a> </br>
            <a href="#" class="links">World War I</a> </br>
            <a href="#" class="links">Local Government</a> </br>
            <a href="#" class="links">Chemical Compounds</a> </br>
            <a href="#" class="links">Three Pillars of the Government</a> </br>
            <a href="#" class="links">Tafsida</a> </br>
        </div>
        
        <!-- <div class= "course-links4">
            <a href="#">Algebra</a> </br>
            <a href="#">Circumnavigation of the Earth</a> </br>
            <a href="#">Tenses</a> </br>
            <a href="#">Mofimu</a> </br>
            <a href="#">Blood Circulatory System</a> </br>
            <a href="#">Colonialism</a> </br>
        </div>
        <div class= "links course-links5">
            <a href="#">Algebra</a> </br>
            <a href="#">Circumnavigation of the Earth</a> </br>
            <a href="#">Tenses</a> </br>
            <a href="#">Mofimu</a> </br>
            <a href="#">Blood Circulatory System</a> </br>
            <a href="#">Colonialism</a> </br>
        </div> -->
    </section> <br>
    
    <section>
        <div class="seo-links">
            <h3 class="footer1">Quick Links</h3>
            
            <div class="">
                <a href="#" class="links">TAMISEMI</a> </br>
                <a href="#" class="links">NECTA</a> </br>
                <a href="#" class="links">NACTE</a> </br>
                <a href="#" class="links">TCU</a> </br>     
            </div>              
        </div> 
    </section> <br>
    
    <section class="more">
        <h3 class="footer1">More</h3>
        
        <div>
            <a href="#" class="links">Tutorials</a> </br>
            <a href="#" class="links">Notes</a> </br>
            <a href="#" class="links">Dashboard</a> </br>
            <a href="#" class="links">References</a> </br>
            <a href="#" class="links">Index</a> </br>
            <a href="#" class="links">Recommendations</a>
        </div> 
    </section></br> <br>
    
    <section class="">
        <div class="socials">       
                <!-- </br>  -->
            <div class="socials">
                <h3 class="footer">Follow Us</h3>
                <a class="follow navbar-brand" href="file:///C:/Users/hp/OneDrive/Documents/GitHub/edumania/html/sample.html#">
                    <img src="file:///C:/Users/hp/OneDrive/Documents/GitHub/edumania/img/logo/EDUMANIA.svg" href="#home" width="600" height="300" class="logo" alt="Logo">
                </a></br>
            </div>
        </div>
        
        <div class="social-links">
            <a href="">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
        
        <div class="copyright">
            <p>Created by <a href="http://">iTech</a>&copy</p>
        </div>
        
            <div class = "container">
                <p> Edumania @copy 2020</p>
            </div>
       
    </section> 
</footer>