<div class="row">
    <div class="scrollable">               
        <div class="card col-md-3 ">
            <div class="category">Pure Maths</div>
                <img src="..\img\math.jpeg" class="img" alt="math">
                <h3 class="title">Algebra</h3>
                <div class="description">Learn Pythagoras Theorem...</div>

                <div class="info">
                    <div class="price">TZS 500.00</div>
                    <div class="duration">3hrs</div>
                    <a href="#">Learn more</a>
                </div>
        </div>        
            
        <div class="card col-md-3 ">
            <div class="category">Pure Maths</div>
                <img src="..\img\math.jpeg  " class="img">
                <h3 class="title">Differential Equations</h3>
                <div class="description">The ultimate solution for your <br>everyday math problems</div>

            <div class="info">
                        <div class="price">TZS 500.00</div>
                        <div class="duration">5hrs</div>
                        <a href="#">Learn more...</a>
            </div>
        </div>
            
            <div class="card col-md-3 ">
                <div class="category">Pure Maths</div>
                <img src="..\img\math.jpeg  " class="img">
                <h3 class="title">Probability</h3>
                <div class="description">The ultimate solution for your <br>everyday math problems</div>
        
                <div class="info">
                    <div class="price">TZS 500.00</div>
                    <div class="duration">3hrs</div>
                    <a href="#">Learn more...</a>
                </div>
            </div>           
                                            
            <div class="card col-md-3 ">
                <div class="category">Pure Maths</div>
                <img src="..\img\math.jpeg  " class="img">
                <h3 class="title">Calculus</h3>
                <div class="description">The ultimate solution for your <br>everyday math problems</div>
        
                <div class="info">
                    <div class="price">TZS 500.00</div>
                    <div class="duration">10hrs</div>
                    <a href="#">Learn more...</a>
                </div>
            </div> 
    </div>                  
</div>